.bkg 
{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(olimg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}
.bkghome
{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(olimg.png);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.box
{box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  width:380px;
  height: 380px;
  position: relative;
  margin: 6% auto; 
  border-radius: 10px;
  background-color: rgb(134, 189, 241);
  padding: 5px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;

}

.topnav a:hover {
  background-color:rgb(134, 189, 241);
  color: black;
  border-radius: 10px;
}

.topnav a.active {
  background-color: rgb(134, 189, 241);
  color: rgb(255, 255, 255);
  border-radius: 10px;

}
.topnav c {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;

}

.topnav c:hover {
  background-color:rgb(134, 189, 241);
  color: black;
  border-radius: 10px;
}

.topnav c.active {
  background-color: rgb(134, 189, 241);
  color: rgb(255, 255, 255);
  border-radius: 10px;

}